<div class="row">
{{#each blogs as |blog|}}
  <div class="leftcolumn">
    <div class="card">
      <h2><a href="/blog/{{blog.id}}">{{blog.title}}</a></h2>
      <h5>Posted by:{{blog.user.name}}</h5>
      <h6>Created  on: {{blog.created_date}}</h6>
      <p>{{blog.body}}</p>
      
    </div>
  </div>
{{/each}}
</div>
    




